@charset "utf-8";

$font-normal: 'Noto Serif KR', serif;
$font-point: 'Lora', serif;;

$mobile-size:680px;
$tablet-size:1025px;
$minpc-size1:1700px;
$minpc-size2:1480px; //1280?
$minpc-size3:1180px;
$iphone-size:340px;
$minH-size:900px;

$light:300;
$regular:400;
$medium:500;
$bold:700;

$black1:#000;
$black2:#555;
$black3:#999;