.portfolio{
    $this:&;
    
    &__section{min-height: 100vh;
        &.nth-1{background: url('../../images/portfolio/portfolio_img_1.jpg') no-repeat center center/cover;background-attachment: fixed;}
        &.nth-2{background: url('../../images/portfolio/portfolio_img_2.jpg') no-repeat center center/cover;background-attachment: fixed;}
        &.nth-3{background: url('../../images/portfolio/portfolio_img_3.jpg') no-repeat center center/cover;background-attachment: fixed;}
        &.nth-4{background: url('../../images/portfolio/portfolio_img_4.jpg') no-repeat center center/cover;background-attachment: fixed;}
    }
    &__wrap{width: 500px;height: 100vh;padding: 50px;box-sizing: border-box;background-color: #ede0df;}
    &__inner{position: relative;}
    &__head{}
    &__tit{margin: 0;font-size: 54px;font-weight: $bold;color: #fff;text-transform: capitalize;line-height: 1.2;}
    &__subtit{margin: 18px 0 0;font-size: 13px;letter-spacing: 3px;}
    &__btn{display: inline-block;margin-top: 30px;padding: 10px 30px;background-color: #cab5b4;border-radius: 20px;font-size: 12px;font-weight: $bold;color: #fff;text-transform: uppercase;text-decoration: none;transition: letter-spacing 0.3s;
        &:hover{letter-spacing: 2px;}
    }
    &__point{color: #cab5b4;}

    @media only screen and (max-width: $tablet-size){
        &__wrap{width: 300px;padding: 20px;}
        &__tit{font-size: 40px;}
    }
    @media only screen and (max-width: $mobile-size){
        &__section{position: relative;
            &.nth-1{background-attachment: scroll;}
            &.nth-2{background-attachment: scroll;}
            &.nth-3{background-attachment: scroll;}
            &.nth-4{background-attachment: scroll;background-position-y: -130px;}
        }
        &__wrap{position: absolute;right: 0;bottom: 0;width: 100%;height: auto;}
        &__tit{font-size: 1.3rem;color: #333;}
        &__subtit{margin-top: 6px;font-size: 1.0rem;}
        &__btn{position: absolute;top: -94px;right: -10px;}
    }
}

.portfolio-part{margin-top: 50px;font-size: 0;
    $this:&;

    &.type-100{
        #{$this}__list{
            &:after{width: 100%;}
        }
    }
    &.type-80{
        #{$this}__list{
            &:after{width: 80%;}
        }
    }
    &.type-60{
        #{$this}__list{
            &:after{width: 60%;}
        }
    }

    &__tit{margin: 0;font-size: 13px;color: #333;}
    &__list{position: relative;margin: 10px 0 0;padding: 0;background-color: #faf1f0;font-size: 0;vertical-align: middle;
        &:after{content: '';position: absolute;top: 0;left: 0;height: 100%;background-color: #cab5b4;}
    }
    &__item{display: inline-block;position: relative;width: 20%;height: 30px;font-size: 10px;font-weight: $bold;color: #fff;text-align: center;list-style: none;z-index: 5;}
    &__vertical{display: table-cell;width: 1%;height: inherit;vertical-align: middle;}

    @media only screen and (max-width: $mobile-size){
        margin-top: 10px;
        &__tit{font-size: 1.0rem;}
        &__list{margin-top: 4px;}
    }
}

.portfolio-use{margin-top: 20px;
    &__tit{margin: 0;font-size: 13px;color: #333;}
    &__list{margin: 10px 0 0;padding: 0;font-size: 0;}
    &__item{display: inline-block;width: 40px;height: 40px;font-size: 10px;font-weight: $bold;color: #fff;text-align: center;list-style: none;
        & + &{margin-left: 4px;}
        &.type-html{background-color: #c68676;}
        &.type-sass{background-color: #ac7791;}
        &.type-jquery{background-color: #54748a;}
        &.type-gulp{background-color: #916565;}
        &.type-git{background-color: #995c51;}
        &.type-bem{background-color: #1b1414;}
    }
    &__vertical{display: table-cell;width: 1%;height: inherit;vertical-align: middle;}

    @media only screen and (max-width: $mobile-size){
        margin-top: 10px;
        &__tit{font-size: 1.0rem;}
        &__list{margin-top: 4px;}
        &__item{height: 30px;font-size: 1.0rem;}
    }
}

.portfolio-desc{margin-top: 20px;
    &__tit{margin: 0;font-size: 13px;color: #333;}
    &__txt{margin: 10px 0 0;font-size: 13px;line-height: 1.75;}

    @media only screen and (max-width: $mobile-size){
        margin-top: 10px;
        &__tit{font-size: 1.0rem;}
        &__txt{margin-top: 4px;font-size: 1.0rem;}
    }
}